.customer-review-title {
  margin: 1rem 0;
  text-align: center;
}
.section-reviews {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
  min-height: auto;
  background-color: aqua;
  border-radius: 10px;
  padding: 2rem;
}
.see-all-btn-container {
  text-align: center;
}
.btn-all-reviews {
  margin-bottom: 1rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .section-reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .section-reviews {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
